.edit-right-box{
    background-color: white;
    padding: 24px;
    width: 445px;
    box-shadow: 0px 2px 8px 0px #3C97AF14;
    border-radius: 16px;
    display: block;
    position: relative;
}

.edit-right-box h1{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;  
}
.progress-position{
display: flex;
justify-content: center;
margin-top: 32px;
}